@media screen and (min-width: 768px) and (max-width:991px) { 
.about .row>div{
    padding: 10%;
}
#certificate img{
    width: 100%;
}
#project tr{
    font-size: 13px;
}
#info2{
    display: none;
}
 }